html, body {
    height: 100%;
}

body {
    font-family: Arial;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}
h1 {
    display: flex;
    font-size: 40px;
}

div {
    display: flex;
}
input, button {
    text-align: center;
    font-size: 30px;
    border: 3px solid gray;
    border-radius: 5px;
}

input {
    width: 70px;
    margin: 0 15px;
}

button {
    background-color:rgb(145, 145, 145);
    color: white;
}

button:hover {
    background-color: white;
    color: rgb(145, 145, 145);
}